<h1><%= @task.title %></h1>
<p>Details: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>
<%= link_to 'Home', tasks_path %>
<%= link_to 'Edit', edit_path %>
<%= link_to 'DESTROY',
 task_path(@task),
 data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
 %>
